<% if(type== 0) { %>
<% include header %>
<% // } else if(type == 1) { %>
<% // include header_ass %>
<% } else if(type == 2 ) { %>
<% include header_stu %>
<% } %>

<div class="page-header">
    <h3>关于</h3>
</div>

<div>
    <p>同济大学就业指导中心 65981173</p>
</div>

<% include footer %>