<% if(type== 0) { %>
<% include header %>
<% // } else if(type == 1) { %>
<% // include header_ass %>
<% } else if(type == 2 ) { %>
<% include header_stu %>
<% } %>

<div class="page-header">
    <h3>关于</h3>
</div>

<div>
    <p>联系电话 021-65981173</p>
    <p>Copyright@2020 同济大学学生就业指导中心 All Rights Reserved</p>
</div>

<% include footer %>