<% include header %>

<div class="page-header">
    <h3>数据库备份</h3>
</div>

<div class="text-center" >

    <form method="post" >
        <input type="submit" value="备份数据库" >
        </input>
    </form>
</div>

<% include footer %>