<% include header %>

<div class="page-header">
    <h3>学生数据</h3>
</div>

<div >
    <form method="post" action="exportstudent">
        <input type="submit" value="导出">
        </input>
    </form>
</div>

<div class="page-header">
    <h3>学生工作经历</h3>
</div>

<div >
    <form method="post" action="exportcareer">
        <input type="submit" value="导出">
        </input>
    </form>
</div>

<div class="page-header">
    <h3>选调生工作事件</h3>
</div>

<div >
    <form method="post" action="exportevent">
        <input type="submit" value="导出">
        </input>
    </form>
</div>

<% include footer %>