<% include link %>


<div class="page-header text-center">
    <h1><%= title %></h1>
</div>

<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <% if(locals.navbar_active && navbar_active=='home') { %>
                <li class="active"><a href="/home">主页</a></li>
                <% } else { %>
                <li><a href="/home">主页</a></li>
                <% } %>

                <% if(locals.navbar_active && navbar_active=='student') { %>
                <li class="dropdown active">
                    <% } else { %>
                <li class="dropdown">
                    <% } %>
                    <a href="/student" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">学生管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/student">学生信息</a></li>
                        <li><a href="/addstudent">添加学生</a></li>
                    </ul>
                </li>

                <% if(locals.navbar_active && navbar_active=='xds') { %>
                <li class="active"> <a href="/xds">选调生查询</a></li>
                <% } else { %>
                <li><a href="/xds">选调生查询</a></li>
                <% } %>


                <% if(locals.navbar_active && navbar_active=='event') { %>
                <li class="dropdown active">
                    <% } else { %>
                <li class="dropdown">
                    <% } %>

                    <a href="/event" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">选调生工作<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/event">查询</a></li>
                        <li><a href="/addevent">添加</a></li>
                    </ul>
                </li>


                <% if(locals.navbar_active && navbar_active=='backup') { %>
                <li class="dropdown active">
                    <% } else { %>
                <li class="dropdown">
                    <% } %>
                    <a href="/student" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">数据管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/uploadstudent">导入</a></li>
                        <li><a href="/export">导出</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/databackup">数据库备份</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <% if(locals.navbar_active && navbar_active=='resetpassword') { %>
                <li class="active"><a href="/resetpassword">重置密码</a></li>
                <% } else { %>
                <li><a href="/resetpassword">重置密码</a></li>
                <% } %>

                <% if(locals.navbar_active && navbar_active=='password') { %>
                <li class="active"><a href="/password">修改密码</a></li>
                <% } else { %>
                <li><a href="/password">修改密码</a></li>
                <% } %>

                <% if(locals.navbar_active && navbar_active=='about') { %>
                <li class="active"><a href="/about">关于</a></li>
                <% } else { %>
                <li><a href="/about">关于</a></li>
                <% } %>

                <li><a href="/logout">注销</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>