<% include link %>


<div class="page-header text-center">
    <h1><%= title %></h1>
</div>

<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                <li class="active"><a href="/home">主页</a></li>
                <li class="dropdown">
                    <a href="/student" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">学生管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/student">学生信息</a></li>
                        <li><a href="#">添加学生</a></li>
                        <li><a href="#">搜索</a></li>
                    </ul>
                </li>

                <li><a href="/xds">选调生查询</a></li>
                <li><a href="#">选调生工作</a></li>

                <li class="dropdown">
                    <a href="/student" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">数据管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">导入</a></li>
                        <li><a href="#">导出</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">数据库备份</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">关于</a></li>
                <li><a href="/logout">注销</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


<article>