<% include link %>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
        <span><a title="主页" href="/home">主页</a></span>
        <span><a title="学生信息" href="/student">学生信息</a></span>
        <span><a title="选调生信息" href="/xds">选调生信息</a></span>
    </nav>
    <article>