<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> <%= title %> </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="login">

        <% //显示logo图片和表格标题。居中img-responsive表示自适应大小 %>
        <div class="login-pic">
            <img src="images/logo.jpg" class="img-responsive center-block">
        </div>
        <div class="login-form">

            <form class="form-horizontal" role="form" method="post">

                <div class="login-page-header text-center">
                    <h1> <%= title %> </h1>
                </div>
                <fieldset>

                    <% if(locals.islogin) { %>
                    <meta http-equiv="refresh" content="0;url=/logout">
                    <% } else{ %>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="username">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" name="username" placeholder="用户名"
                                maxlength="32" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">密码</label>
                        <div class="col-sm-9">
                            <input type="password" maxlength="32" class="form-control" id="password" name="password"
                                placeholder="密码" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">验证码</label>
                        <div class="col-md-3">
                            <input maxlength="4" class="form-control" id="captcha" name="captcha" required>
                        </div>
                        <div class="col-md-6">
                            <img src="/captcha" id="cap_pic" onclick="change_capacha()">
                        </div>
                    </div>


                    <% //如果有错误消息，则用alert框显示 %>
                    <% if (locals.errmsg) { %>
                    <div class="alert alert-warning err-login"><%= errmsg %> </div>
                    <% } %>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="login-btn btn btn-primary" style="width:100%"
                                autofocus>登录</button>
                            <% //pull-right让button居右 %>
                            <% // <a class="btn btn-danger pull-right" href="/reg">注册</a> %>
                        </div>
                    </div>

                    <% } %>
                </fieldset>
            </form>

        </div>
    </div>

</body>

<script>
    function change_capacha() {
        document.getElementById('cap_pic').src = '/captcha?' + Math.random();
    }
</script>

<% include footer %>