<% if(type== 0) { %>
<% include header %>
<% // } else if(type == 1) { %>
<% // include header_ass %>
<% } else if(type == 2 ) { %>
<% include header_stu %>
<% } %>

<div class="page-header">
    <h3>修改密码</h3>
</div>

<div class="text-center">

    <form action="/password" class="col-sm-offset-4 col-sm-4 form-horizontal " method="POST">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="oldpassword">原密码</label>
            <div class="col-sm-9">
                <input type="password" maxlength="32" class="form-control" id="oldpassword" name="oldpassword" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password1">新密码</label>
            <div class="col-sm-9">
                <input type="password" maxlength="32" class="form-control" id="password1" name="password1" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password2">确认密码</label>
            <div class="col-sm-9">
                <input type="password" maxlength="32" class="form-control" id="password2" name="password2" required
                    onkeyup="validate()">
                <span id="tishi"></span>
            </div>
        </div>
        <% //如果有错误消息，则用alert框显示 %>
        <% if (locals.errmsg) { %>
        <div class="alert alert-warning form-group"><%= errmsg %> </div>
        <% } %>

        <div class="form-group">
            <input type="submit" value="修改密码" id="sub" name="sub">
        </div>
    </form>
</div>

<script>
    function validate() {

        var pwd = $("#password1").val();
        var pwd1 = $("#password2").val();
        if (pwd != pwd1) {
            $("#tishi").html('密码不匹配');
            $("#tishi").css("color", "red");
            document.getElementById("sub").disabled = true;
        }
        else if (pwd.length < 6) {
            $("#tishi").html('密码至少6位');
            $("#tishi").css("color", "red");
            document.getElementById("sub").disabled = true;
        }
        else {
            $("#tishi").html('');
            document.getElementById("sub").disabled = false;
        }
    }
</script>

<% include footer %>